psycopg2-binary
fastapi[standard]
websockets
uvicorn[standard]
sqlalchemy
pydantic
alembic
python-dotenv
httpx
pytest
databases[postgresql]
pytest-asyncio
uvicorn[standard]
requests
pytest-cov
coverage
pytest
pytest-mock
pytest-asyncio
bcrypt
PyJWT
boto3
beautifulsoup4
python-multipart
